

@{
    ViewData["Title"] = "Gruplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h5 class="card-title">Kullanıcının Bağlı Olduğu Gruplar</h5>
                <ul id="GroupsByUser">
                </ul>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h5 class="card-title">Kullanıcının Bağlı Olmadığı Gruplar</h5>
                <ul id="GroupsNoUser">
                </ul>
            </div>
        </div>


    </div>
</div>

<input type="hidden" id="UserId" value="@ViewBag.UserId" />


@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            GroupsByUser();
            GroupsNoUser();
        });

        function GroupsByUser() {

            $.ajax({
                type: "POST",
                url: "/UserGroup/GroupsByUser",
                data: JSON.stringify($("#UserId").val()),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    var data = result;
                    console.log(data);
                    console.log(data.length);
                    var row = "";
                    $.each(data, function (k, v) {
                        row += `<li > <a href="#" role="button" class="btnGroupDelete"  data-id="${v["id"]}" > ${v["name"]}  </a> </li>`;
                    });

                    $("#GroupsByUser").html(row);
                },
                error: function (ex) {
                    console.log(ex);
                    alert("An error occurred while processing the request.");
                }
            });
        }

        $("#GroupsByUser").on("click", ".btnGroupDelete", function () {

            var groupId = $(this).data("id");
            console.log("Düğmeye tıklandı: Group ID = " + groupId);

            var userId = $("#UserId").val();
            console.log("Düğmeye tıklandı: User ID = " + userId);

            var UnassignGroupForUserRequestDto = {};
            UnassignGroupForUserRequestDto.UserId = userId;
            UnassignGroupForUserRequestDto.GroupId = groupId;

            $.ajax({
                type: "POST",
                url: "/UserGroup/UnassignGroupToUser",
                data: JSON.stringify(UnassignGroupForUserRequestDto),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                    console.log(result);
                    GroupsByUser();
                    GroupsNoUser();
                },
                error: function (ex) {
                    console.log(ex);
                    alert("An error occurred while processing the request.");
                }
            });
        });


        //Kullanıcının bağlı olmadığı Tüm Grupların listelemesi

        function GroupsNoUser() {

            $.ajax({
                type: "POST",
                url: "/UserGroup/GroupsNoUser",
                data: JSON.stringify($("#UserId").val()),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                    var data = result;
                    console.log(data);
                    console.log(data.length);
                    var row = "";
                    $.each(data, function (k, v) {

                        console.log(data);

                        row += `<li > <a href="#" role="button" class="btnGroupAdd"  data-id="${v["id"]}" > ${v["name"]}  </a> </li>`;

                    });

                    $("#GroupsNoUser").html(row);

                },
                error: function (ex) {
                    console.log(ex);
                    alert("An error occurred while processing the request.");
                }
            });
        }

        $("#GroupsNoUser").on("click", ".btnGroupAdd", function () {
            var groupId = $(this).data("id");
            console.log("Düğmeye tıklandı: Group ID = " + groupId);

            var userId = $("#UserId").val();
            console.log("Düğmeye tıklandı: User ID = " + userId);

            var AssignGroupForUserRequestDto = {};
            AssignGroupForUserRequestDto.UserId = userId;
            AssignGroupForUserRequestDto.GroupId = groupId;

            $.ajax({
                type: "POST",
                url: "/UserGroup/AssignGroupToUser",
                data: JSON.stringify(AssignGroupForUserRequestDto),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                    console.log(result);
                    GroupsByUser();
                    GroupsNoUser();

                },
                error: function (ex) {
                    console.log(ex);
                    alert("An error occurred while processing the request.");
                }
            });
        });
    </script>

}