
@model GetAllRoleQueryResponse

@{
    ViewData["Title"] = "Yetkiler";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="card">
    <div class="card-body">
       

        <div class="col-md-12">
            <table class="table table-bordered table-striped mt-4 table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th>Yetkiler</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model.RoleListInfoDtos.RoleListDto)
                    {
                        <tr>
                            <td>@role.Name</td>
                            <td>
                                <a asp-action="AllGroupsByRole" asp-controller="RoleGroup"  asp-route-roleId="@role.Id" class="btn btn-secondary"><i class="fa-solid fa-cart-plus"></i>  Yetkinin Bağlı Olduğu Gruplar</a>
                            </td>
                            <td>
                                @* <a asp-action="UpdateRole" asp-controller="Role" asp-route-roleId="@role.Id" class="btn btn-warning"><i class="fa-solid fa-cart-plus"></i>  Düzenle</a> *@
                                <a  data-toggle="modal" data-target="#updateRoleModal" class="btn btn-warning"><i class="fa-solid fa-cart-plus"></i> Düzenle</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@*
<td>
    <a id="allGroupsButton" href="#" class="btn btn-secondary"><i class="fa-solid fa-cart-plus"></i>  Yetkinin Bağlı Olduğu Gruplar</a>

</td>

<script>
    document.getElementById("allGroupsButton").addEventListener("click", function () {
        // İlk aksiyonun tetiklenmesi
        window.location.href = "/RoleGroup/AllGroupsByRole?roleId=@role.Id";

        // İkinci aksiyonun tetiklenmesi
        $.get("/RoleGroup/GroupsNoRole?roleId=@role.Id");
    });
</script>

 *@
