@using AuthOperationsApp.Application.DTOs.Role
@model List<RoleListDto>
@{
    ViewData["Title"] = "Yetkiler";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>


<div class="card">
    <div class="card-body">

        <div id="Tablelist" class="col-md-12">
         

        </div>

    </div>
</div>


<div class="modal fade" id="updateRoleModal" tabindex="-1" role="dialog" aria-labelledby="updateRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateRoleModalLabel">Yetki Güncelleme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="txtRoleName" class="form-control" value="" />
                <input type="hidden" id="txtRoleId" value="" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button id="btnRoleSave" type="submit" class="btn btn-dark">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            GetList();

            $(".btnEdit").on("click", function () {
                //Tıklanan düğmenin veri özelliklerinden rol adını ve id yi alırız
                var name = $(this).data("name");
                var id = $(this).data("id");

                //Modalın içini doldurur
                $("#txtRoleName").val(name);
                $("#txtRoleId").val(id);

                $("#updateRoleModal").modal("show");
            });

            $("#btnRoleSave").on("click", function () {

                var UpdateRoleRequestDto = {}
                UpdateRoleRequestDto.Id = $("#txtRoleId").val();
                UpdateRoleRequestDto.Name = $("#txtRoleName").val();

                $.ajax({
                    type: "POST",
                    url: "/Role/UpdateRole",
                    data: JSON.stringify(UpdateRoleRequestDto),
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {

                        console.log(result);
                        $("#updateRoleModal").modal("hide");
                        
                        location.reload();
                    },
                    error: function (ex) {
                        console.log(ex);
                        alert("An error occurred while processing the request.");
                    }
                });


            });
        });



        function GetList() {
            var table = $("#Tablelist");

            $.ajax({
                type: "GET",
                url: "/Role/GetList",
                dataType:"html",
                cache:false,
                success: function (result) {

                    console.log(result);
                    if (result != null) {
                        table.html(result);
                    }                    
                },
                error: function (ex) {
                    console.log(ex);
                    alert("An error occurred while processing the request.");
                }
            });
        }        

    </script>
} 