@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <nav id="sidebar" class="d-flex flex-column">
                <div class="list-group">
                    <a href="@Url.Action("AllRoles", "Role")" class="list-group-item">Yetkiler</a>
                    <a href="@Url.Action("AllGroups", "Group")" class="list-group-item">Yetki Grupları</a>
                    <a href="@Url.Action("GetAllUser", "User")" class="list-group-item">Kullanıcılar</a>
                </div>
            </nav>
        </div>
    </div>
</div>




