@{
    ViewData["Title"] = "Roller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h5 class="card-title">Grubun Sahip Olduğu Yetkiler</h5>
                <ul id="RolesByGroup">
                </ul>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h5 class="card-title">Grubun Sahip Olmadığı Yetkiler</h5>
                <ul id="RolesNoGroup">
                </ul>
            </div>
        </div>

    </div>
</div>

<input type="hidden" id="GroupId" value="@ViewBag.GroupId" />

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            RolesByGroup();
            RolesNoGroup();
        });

        //Grubun sahip olduğu Yetkiler
        function RolesByGroup() {

            $.ajax({
                type: "POST",
                url: "/RoleGroup/RolesByGroup",
                data: JSON.stringify($("#GroupId").val()),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    var data = result;
                    console.log(data);
                    console.log(data.length);
                    var row = "";
                    $.each(data, function (k, v) {
                        row += `<li > <a href="#" role="button" class="btnRoleDelete"  data-id="${v["id"]}"> ${v["name"]}  </a> </li>`;
                    });

                    $("#RolesByGroup").html(row);
                },
                error: function (ex) {
                    console.log(ex);
                    alert("An error occurred while processing the request.");
                }
            });
        }

        $("#RolesByGroup").on("click", ".btnRoleDelete", function () {

            var roleId = $(this).data("id");
            console.log("Düğmeye tıklandı: Role ID = " + roleId);

            var groupId = $("#GroupId").val();
            console.log("Düğmeye tıklandı: Group ID = " + groupId);

            //Ajax ile gidip
            //RoleGruptan Silecek

            var UnassignRoleRequestDto = { };
            UnassignRoleRequestDto.RoleId= roleId;
            UnassignRoleRequestDto.GroupId= groupId;

            $.ajax({
                type: "POST",
                url: "/RoleGroup/UnassignRoleToGroup",
                data: JSON.stringify(UnassignRoleRequestDto),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                    console.log(result);
                    RolesByGroup();
                    RolesNoGroup();
                },
                error: function (ex) {
                    console.log(ex);
                    alert("An error occurred while processing the request.");
                }
            });
        });

    
        //Grubun sahip olmadığı Yetkiler

        function RolesNoGroup() {

            $.ajax({
                type: "POST",
                url: "/RoleGroup/RolesNoGroup",
                data: JSON.stringify($("#GroupId").val()),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                    var data = result;
                    console.log(data);
                    console.log(data.length);
                    var row = "";
                    $.each(data, function (k, v) {
                        console.log(data);
                        row += `<li > <a href="#" role="button" class="btnRoleAdd"  data-id="${v["id"]}" > ${v["name"]}  </a> </li>`;
                    });

                    $("#RolesNoGroup").html(row);
                },
                error: function (ex) {
                    console.log(ex);
                    alert("An error occurred while processing the request.");
                }
            });
        }

        $("#RolesNoGroup").on("click", ".btnRoleAdd", function () {

            var roleId = $(this).data("id");
            console.log("Düğmeye tıklandı: Role ID = " + roleId);

            var groupId = $("#GroupId").val();
            console.log("Düğmeye tıklandı: Group ID = " + groupId);       

            var AssignRoleRequestDto = {};
            AssignRoleRequestDto.RoleId = roleId;
            AssignRoleRequestDto.GroupId = groupId;
            
            $.ajax({
                type: "POST",
                url: "/RoleGroup/AssignRoleToGroup",
                data: JSON.stringify(AssignRoleRequestDto),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                    console.log(result);
                    RolesByGroup();
                    RolesNoGroup();
                },
                error: function (ex) {
                    console.log(ex);
                    alert("An error occurred while processing the request.");
                }
            });
        });

    </script>
}